<header class="mast-head nav navbar-nav">
	<div class="mast-head__container container">
		<nav class="mast-head__nav">
			<ul class="nav-list">
				<% if logged_in? %>
					<li class="nav-list__item header-account-menu">
						<a class="header-nav-link"><%= @user.name %></a>
						<div class="sub-nav">
							<ul>
								<li><%= link_to "Profile", current_user %></li>
								<li><%= link_to "Settings", edit_user_path(current_user) %></li>
								<li><%= link_to "Sign out", logout_path, method: "delete", class: "sign-in button-link" %></li>
							</ul>
						</div>
					</li>
				<% else %>
				  <li class="nav-list__item"><%= link_to "Sign in", login_path, class: "sign-in button-link" %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
<script>
	$(document).ready(function(){
		var navLink = document.querySelector( ".header-account-menu .header-nav-link" );
		var subNav = document.querySelector( ".header-account-menu .sub-nav" );

		if (navLink) {
			navLink.addEventListener( "click", function(){
				$(subNav).toggleClass("active");
			});
		}
	});
</script>